services:

  nginx:
    depends_on:
      - frontend
      - backend
    build:
      context: ./infra/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

    # You can still override or pass additional env here:
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: 2000
      REDIS_HOST: redis
      REDIS_PORT: 6379

    restart: unless-stopped
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    restart: always

networks:
  default:
    driver: bridge