services:

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - webnet

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    env_file:
      - ./.env
    container_name: backend
    restart: unless-stopped
    expose:
      - "2000"
    networks:
      - webnet

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
