services:

  nginx:
    depends_on:
     - frontend
     - backend
    restart: always
    build:
      context: ./infra/nginx
      dockerfile: Dockerfile
      ports:
      - "80:80" 
  backend:
    build:
      dockerfile: Dockerfile
      context: "./backend"
    volumes:
      - /app/node_modules
      - ./backend:/app
    restart: unless-stopped
   
    environment:
      NODE_ENV: ${NODE_ENV}
      PORT: 2000
      MONGO_URI: ${MONGO_URI}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}

  frontend:
   
    stdin_open: true
    build:
      dockerfile: Dockerfile 
      context: ./frontend 
    volumes:
    - /app/node_modules
    - ./frontend:/app
      
    restart: unless-stopped


